# 3. Joint Probability Tables

...

In [3]:
%run '_preamble.ipynb'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

available imports:
  import os
  import logging
  import pandas as pd
  import numpy as np

connect to this kernel with:
  jupyter console --existing e445615c-75ec-431a-aca9-d0dde4e0222a

Logging to: "/Users/melle/software-development/thomas-master/logs/3. Joint probability tables.log"

In [45]:
import thomas.core
from thomas.core import Factor, JPT, CPT

from IPython.display import display, HTML

In [6]:
def subset(full_dict, keys):
    """Return a subset of a dict."""
    return {k: full_dict[k] for k in keys}

In [9]:
filename = thomas.core.get_pkg_data('dataset_17_2.csv')
df = pd.read_csv(filename, sep=';', index_col='Case')

print(f'df.shape: {df.shape[0]} rows x {df.shape[1]} cols')
df.head()

df.shape: 16 rows x 3 cols

      H  S  E
Case
1     T  F  T
2     T  F  T
3     F  T  F
4     F  F  T
5     T  F  F

In [12]:
cols = ['H', 'S', 'E']

In [27]:
counts = df.groupby(cols).size()
counts.name = 'counts'
counts

H  S  E
F  F  F    1
      T    2
   T  F    1
T  F  F    1
      T    9
   T  T    2
Name: counts, dtype: int64

In [28]:
pd.DataFrame(counts)

       counts
H S E
F F F       1
    T       2
  T F       1
T F F       1
    T       9
  T T       2

In [46]:
Factor.from_data(df, complete_value=0)

factor(H,S,E)
H  S  E
F  F  F    1.0
      T    2.0
   T  F    1.0
      T    0.0
T  F  F    1.0
      T    9.0
   T  F    0.0
      T    2.0
dtype: float64

In [47]:
Factor.from_data(df, complete_value=1).normalize()

factor(H,S,E)
H  S  E
F  F  F    0.090909
      T    0.136364
   T  F    0.090909
      T    0.000000
T  F  F    0.090909
      T    0.454545
   T  F    0.000000
      T    0.136364
dtype: float64

In [33]:
counts = subset.groupby(cols).count()
counts

       count
H S E
F F F      1
    T      2
  T F      1
T F F      1
    T      9
  T T      2

In [36]:
dict(zip(counts.index.names, counts.index.levels))

{'H': Index(['F', 'T'], dtype='object', name='H'),
 'S': Index(['F', 'T'], dtype='object', name='S'),
 'E': Index(['F', 'T'], dtype='object', name='E')}