# 6. Using the server

In [1]:
%run '_preamble.ipynb'

available imports:
  import os
  import logging
  import pandas as pd
  import numpy as np

connect to this kernel with:
  jupyter console --existing 05ddcf03-5498-464f-be0e-5880c87ef741

In [2]:
from thomas.core import examples
from thomas.client import Client
from thomas.jupyter import BayesianNetworkWidget

In [3]:
from requests.exceptions import ConnectionError

servers = [
    'http://localhost:5000',
    'http://thomas-server:5000',
]
for hostname in servers:
    try:
        client = Client(hostname)
        client.authenticate('root', 'toor')
    except ConnectionError as e:
        print(f'!!! Could not connect to {hostname}')
    
    else:
        print(f'Connected to {hostname}')
        break

!!! Could not connect to http://localhost:5000
Connected to http://thomas-server:5000

In [4]:
client.list_networks()

                                     id        name owner
0                            lungcancer  Lungcancer  root
1                               student     Student  root
2                             sprinkler   Sprinkler  root
3  23f6f860-6b99-11ea-a4d7-0242ac170002     Student  root
4                              student2     Student  root

In [5]:
Gs = client.load('student')

In [6]:
client._metadata[Gs]

{'owner': 'root', 'id': 'student', 'name': 'Student'}

In [7]:
view = BayesianNetworkWidget(Gs)
view

BayesianNetworkWidget(marginals_and_evidence={'marginals': {'I': {'i0': 0.7, 'i1': 0.3}, 'S': {'s0': 0.725, 'sâ€¦

In [8]:
Gs.set_evidence_hard('I', 'i0')

In [9]:
Gs = examples.get_student_network_from_CPTs()

In [10]:
client.save(Gs)

In [11]:
client._metadata[Gs]

{'owner': 'root',
 'id': '16d01c92-6bae-11ea-97ab-0242ac170002',
 'name': 'Student'}

In [12]:
Gs.as_dict()['name']

'Student'

In [13]:
client.list_networks()

                                     id        name owner
0                            lungcancer  Lungcancer  root
1                               student     Student  root
2                             sprinkler   Sprinkler  root
3  23f6f860-6b99-11ea-a4d7-0242ac170002     Student  root
4                              student2     Student  root
5  16d01c92-6bae-11ea-97ab-0242ac170002     Student  root

In [14]:
client._metadata[Gs]

{'owner': 'root',
 'id': '16d01c92-6bae-11ea-97ab-0242ac170002',
 'name': 'Student'}

In [15]:
Gs2 = client.save_as(Gs, 'student2')

ServerError: HTTP 409: Could not create resource!

In [ ]:
Gs2.name